@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Machines</h1>

@if (@ViewBag.Operational.Count == 0 && @ViewBag.Malfunctioning.Count == 0 && @ViewBag.Repairing.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 
<div class="table">
  <ul>
    <li class="column-header">Operational</li>
     @foreach (Machine machine in @ViewBag.Operational)
    {
      <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
    }
  </ul>
  <ul>
    <li class="column-header">Malfunctioning</li>
     @foreach (Machine machine in @ViewBag.Malfunctioning)
    {
      <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
    }
  </ul>
  <ul>
    <li class="column-header">Being Repaired</li>
     @foreach (Machine machine in @ViewBag.Repairing)
    {
      <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
    }
  </ul>

</div>


 <div class="button-border">
  <p class="button">@Html.ActionLink("Add new machine", "Create")</p>
</div>  

