@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Engineers</h1>

@if (@ViewBag.Working.Count == 0 && @ViewBag.Idle.Count == 0)
{
  <h3>No engineers have been added yet!</h3>
} 

<div class="table">
   @if (@ViewBag.Working.Count != 0) {
    <ul>
      <li class="column-header">Actively working</li>
      @foreach(Engineer engineer in @ViewBag.Working)
      {
        <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
      }
    </ul>
   }
  @if (@ViewBag.Idle.Count != 0) {
    <ul>
      <li class="column-header">Idle</li>
      @foreach(Engineer engineer in @ViewBag.Idle)
      {
        <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
      }
    </ul>
  }
</div>


<div class="button-border">
  <p class="button">@Html.ActionLink("Add new engineer", "Create")</p>
</div>